.u-section-1 .u-sheet-1 {
  min-height: 924px;
}

.u-section-1 .u-image-1 {
  width: 468px;
  height: 411px;
  --radius: 33px;
  margin: 60px 44px 0 auto;
}

.u-section-1 .u-shape-1 {
  width: 234px;
  --radius: 15px;
  height: 43px;
  background-image: none;
  margin: -28px 278px 0 auto;
}

.u-section-1 .u-text-1 {
  margin: -36px 290px 0 auto;
}

.u-section-1 .u-shape-2 {
  width: 220px;
  --radius: 15px;
  height: 43px;
  background-image: none;
  margin: -36px 37px 0 auto;
}

.u-section-1 .u-text-2 {
  margin: -36px 47px 0 auto;
}

.u-section-1 .u-icon-1 {
  width: 24px;
  height: 24px;
  margin: -26px 482px 0 auto;
  padding: 0;
}

.u-section-1 .u-icon-2 {
  width: 26px;
  height: 26px;
  margin: -25px 224px 0 auto;
  padding: 0;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  font-size: 3rem;
  margin: -359px auto 0 69px;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  font-size: 3rem;
  margin: 0 auto 0 68px;
}

.u-section-1 .u-text-5 {
  font-weight: 400;
  --text-color-var: #afaeae;
  margin: 0 703px 0 68px;
}

.u-section-1 .u-text-6 {
  font-weight: 400;
  font-size: 0.875rem;
  margin: 8px 587px 0 68px;
}

.u-section-1 .u-btn-1 {
  --radius: 32px;
  background-image: none;
  margin: 16px auto 0 68px;
  padding: 14px 16px 15px 15px;
}

.u-section-1 .u-icon-3 {
  margin-right: 5px;
}

.u-section-1 .u-shape-3 {
  width: 152px;
  --radius: 15px;
  height: 89px;
  background-image: none;
  margin: 39px auto 0 388px;
}

.u-section-1 .u-text-7 {
  font-weight: 700;
  margin: -84px 615px 0 442px;
}

.u-section-1 .u-icon-4 {
  width: 44px;
  height: 44px;
  margin: -10px auto 0 391px;
  padding: 0;
}

.u-section-1 .u-text-8 {
  font-weight: 700;
  font-size: 1rem;
  margin: -37px 618px 0 442px;
}

.u-section-1 .u-shape-4 {
  width: 152px;
  --radius: 15px;
  height: 89px;
  background-image: none;
  margin: -81px auto 0 21px;
}

.u-section-1 .u-icon-5 {
  width: 42px;
  height: 42px;
  margin: -70px auto 0 24px;
  padding: 0;
}

.u-section-1 .u-text-9 {
  font-weight: 700;
  margin: -49px auto 0 75px;
}

.u-section-1 .u-text-10 {
  font-weight: 700;
  margin: 0 auto 0 78px;
}

.u-section-1 .u-group-1 {
  width: 152px;
  --radius: 15px;
  height: auto;
  background-image: none;
  min-height: 92px;
  margin: -69px auto 0 202px;
}

.u-section-1 .u-container-layout-1 {
  padding: 5px 30px;
}

.u-section-1 .u-text-11 {
  font-weight: 700;
  margin: 20px 23px 0 auto;
}

.u-section-1 .u-icon-6 {
  width: 41px;
  height: 41px;
  margin: -27px auto 0 10px;
  padding: 0;
}

.u-section-1 .u-text-12 {
  font-weight: 700;
  margin: -18px auto 0 53px;
}

.u-section-1 .u-video-1 {
  width: 430px;
  height: 235px;
  margin: 111px -8px 0 auto;
}

.u-section-1 .u-shape-5 {
  width: 658px;
  --radius: 15px;
  height: 204px;
  background-image: none;
  margin: -219px auto 0 0;
}

.u-section-1 .u-text-13 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: -196px 830px 0 28px;
}

.u-section-1 .u-icon-7 {
  width: 33px;
  height: 33px;
  margin: 24px auto 0 21px;
  padding: 0;
}

.u-section-1 .u-text-14 {
  font-size: 0.875rem;
  margin: -37px 793px 0 59px;
}

.u-section-1 .u-text-15 {
  font-size: 0.875rem;
  margin: 11px 790px 0 61px;
}

.u-section-1 .u-icon-8 {
  width: 40px;
  height: 40px;
  margin: -40px auto 0 16px;
  padding: 0;
}

.u-section-1 .u-icon-9 {
  width: 34px;
  height: 34px;
  margin: -92px auto 0 369px;
  padding: 0;
}

.u-section-1 .u-text-16 {
  font-size: 0.875rem;
  margin: -39px 534px 0 418px;
}

.u-section-1 .u-icon-10 {
  width: 39px;
  height: 39px;
  margin: 12px auto 0 367px;
  padding: 0;
}

.u-section-1 .u-text-17 {
  font-size: 0.875rem;
  margin: -44px auto 60px 417px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    margin-top: 68px;
  }

  .u-section-1 .u-icon-1 {
    margin-right: 397px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 20px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 503px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 387px;
  }

  .u-section-1 .u-shape-3 {
    margin-top: 50px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 507px;
    margin-left: 364px;
  }

  .u-section-1 .u-icon-4 {
    margin-left: 322px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 510px;
    margin-left: 364px;
  }

  .u-section-1 .u-shape-4 {
    margin-top: -93px;
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-icon-6 {
    margin-top: 20px;
  }

  .u-section-1 .u-text-12 {
    margin-top: 20px;
  }

  .u-section-1 .u-video-1 {
    margin-top: 104px;
  }

  .u-section-1 .u-shape-5 {
    margin-top: 20px;
  }

  .u-section-1 .u-text-13 {
    margin-right: 658px;
    margin-left: 0;
  }

  .u-section-1 .u-text-14 {
    margin-right: 652px;
    margin-left: 0;
  }

  .u-section-1 .u-text-15 {
    margin-right: 652px;
    margin-left: 0;
  }

  .u-section-1 .u-icon-9 {
    margin-top: -94px;
    margin-left: 304px;
  }

  .u-section-1 .u-text-16 {
    margin-top: -40px;
    margin-right: 458px;
    margin-left: 345px;
  }

  .u-section-1 .u-icon-10 {
    margin-left: 303px;
  }

  .u-section-1 .u-text-17 {
    margin-left: 344px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-image-1 {
    margin-top: 73px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 222px;
  }

  .u-section-1 .u-icon-1 {
    margin-right: 304px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 283px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 167px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 388px;
    margin-left: 279px;
  }

  .u-section-1 .u-icon-4 {
    margin-left: 247px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 391px;
    margin-left: 279px;
  }

  .u-section-1 .u-text-13 {
    margin-right: 438px;
  }

  .u-section-1 .u-text-14 {
    margin-right: 432px;
  }

  .u-section-1 .u-text-15 {
    margin-right: 432px;
  }

  .u-section-1 .u-icon-9 {
    margin-left: 233px;
  }

  .u-section-1 .u-text-16 {
    margin-right: 351px;
    margin-left: 264px;
  }

  .u-section-1 .u-icon-10 {
    margin-left: 232px;
  }

  .u-section-1 .u-text-17 {
    margin-left: 263px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1968px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 547px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 167px;
  }

  .u-section-1 .u-icon-1 {
    margin-right: 228px;
  }

  .u-section-1 .u-icon-2 {
    margin-right: 168px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 103px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 0;
  }

  .u-section-1 .u-shape-3 {
    margin-top: 37px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 291px;
    margin-left: 209px;
  }

  .u-section-1 .u-icon-4 {
    margin-top: 38px;
    margin-left: 185px;
  }

  .u-section-1 .u-text-8 {
    margin-top: -43px;
    margin-right: 293px;
    margin-left: 209px;
  }

  .u-section-1 .u-shape-4 {
    margin-top: -119px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-video-1 {
    margin-top: 217px;
  }

  .u-section-1 .u-shape-5 {
    width: 540px;
  }

  .u-section-1 .u-text-13 {
    margin-right: 258px;
  }

  .u-section-1 .u-text-14 {
    margin-right: 252px;
  }

  .u-section-1 .u-text-15 {
    margin-right: 252px;
  }

  .u-section-1 .u-icon-9 {
    margin-left: 175px;
  }

  .u-section-1 .u-text-16 {
    margin-right: 263px;
    margin-left: 198px;
  }

  .u-section-1 .u-icon-10 {
    margin-left: 174px;
  }

  .u-section-1 .u-text-17 {
    margin-bottom: -2px;
    margin-left: 197px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1562px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 299px;
    margin-top: 187px;
    margin-right: auto;
    margin-left: -15px;
  }

  .u-section-1 .u-shape-1 {
    width: 220px;
    margin-top: 30px;
    margin-right: auto;
    margin-left: -15px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: -35px;
    margin-right: auto;
    margin-left: 31px;
  }

  .u-section-1 .u-shape-2 {
    margin-top: -88px;
    margin-right: auto;
    margin-left: -16px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: -35px;
    margin-right: auto;
    margin-left: 37px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 33px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-icon-2 {
    margin-top: -82px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: -459px;
    margin-right: 0;
    margin-left: -15px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: -50px;
    margin-left: -25px;
  }

  .u-section-1 .u-text-5 {
    margin-top: 850px;
    margin-right: 0;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-top: -454px;
    margin-left: -14px;
    margin-right: -14px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 705px;
    margin-right: -35px;
    margin-left: auto;
  }

  .u-section-1 .u-shape-3 {
    margin-top: -340px;
    margin-right: -342px;
    margin-left: auto;
  }

  .u-section-1 .u-text-7 {
    width: auto;
    margin-top: -165px;
    margin-right: -303px;
    margin-left: auto;
  }

  .u-section-1 .u-icon-4 {
    margin-top: -92px;
    margin-right: -237px;
    margin-left: auto;
  }

  .u-section-1 .u-text-8 {
    width: 0;
    margin-top: 511px;
    margin-right: -246px;
    margin-left: auto;
  }

  .u-section-1 .u-shape-4 {
    margin-top: 40px;
    margin-left: 0;
  }

  .u-section-1 .u-icon-5 {
    margin-top: -65px;
    margin-left: 0;
  }

  .u-section-1 .u-text-9 {
    width: auto;
    margin-top: -52px;
    margin-left: 56px;
  }

  .u-section-1 .u-text-10 {
    width: auto;
    margin-top: 1px;
    margin-left: 57px;
  }

  .u-section-1 .u-group-1 {
    min-height: 89px;
    margin-top: -65px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-1 .u-text-11 {
    width: auto;
    margin-right: 28px;
  }

  .u-section-1 .u-icon-6 {
    width: 35px;
    height: 35px;
    margin-top: -13px;
    margin-left: 8px;
  }

  .u-section-1 .u-text-12 {
    width: auto;
    margin-top: -26px;
  }

  .u-section-1 .u-video-1 {
    height: 186px;
    margin-top: 455px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-shape-5 {
    height: 334px;
    margin-top: -586px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-13 {
    font-size: 1.5rem;
    width: auto;
    margin-top: -313px;
    margin-right: 45px;
    margin-left: 13px;
  }

  .u-section-1 .u-icon-7 {
    margin-top: 23px;
    margin-left: 11px;
  }

  .u-section-1 .u-text-14 {
    width: auto;
    margin-top: -38px;
    margin-right: 0;
    margin-left: 52px;
  }

  .u-section-1 .u-text-15 {
    width: auto;
    margin-top: 67px;
    margin-right: 0;
    margin-left: 52px;
  }

  .u-section-1 .u-icon-8 {
    margin-top: -44px;
    margin-left: 0;
  }

  .u-section-1 .u-icon-9 {
    margin-top: -92px;
    margin-left: 11px;
  }

  .u-section-1 .u-text-16 {
    width: auto;
    margin-top: -41px;
    margin-right: -78px;
    margin-left: 52px;
  }

  .u-section-1 .u-icon-10 {
    margin-top: 74px;
    margin-left: 0;
  }

  .u-section-1 .u-text-17 {
    width: auto;
    margin: -42px 86px 60px 51px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 457px;
}

.u-section-2 .u-text-1 {
  font-weight: 600;
  font-size: 2.25rem;
  margin: 49px auto 0 73px;
}

.u-section-2 .u-shape-1 {
  width: 323px;
  --radius: 15px;
  height: 241px;
  background-image: none;
  margin: 57px auto 0 49px;
}

.u-section-2 .u-icon-1 {
  width: 24px;
  height: 24px;
  margin: -229px auto 0 73px;
  padding: 0;
}

.u-section-2 .u-icon-2 {
  width: 24px;
  height: 24px;
  margin: -24px auto 0 97px;
  padding: 0;
}

.u-section-2 .u-icon-3 {
  width: 24px;
  height: 24px;
  margin: -24px auto 0 121px;
  padding: 0;
}

.u-section-2 .u-icon-4 {
  width: 24px;
  height: 24px;
  margin: -24px auto 0 145px;
  padding: 0;
}

.u-section-2 .u-icon-5 {
  width: 24px;
  height: 24px;
  margin: -24px auto 0 169px;
  padding: 0;
}

.u-section-2 .u-text-2 {
  font-size: 0.875rem;
  margin: 14px 828px 0 57px;
}

.u-section-2 .u-text-3 {
  font-size: 0.875rem;
  margin: -125px auto 0 211px;
}

.u-section-2 .u-shape-2 {
  width: 323px;
  --radius: 15px;
  height: 241px;
  background-image: none;
  margin: -36px auto 0;
}

.u-section-2 .u-text-4 {
  font-size: 0.875rem;
  width: 302px;
  margin: -205px auto 0;
}

.u-section-2 .u-text-5 {
  font-size: 0.875rem;
  margin: -204px 504px 0 auto;
}

.u-section-2 .u-icon-6 {
  width: 24px;
  height: 24px;
  margin: -21px auto 0 433px;
  padding: 0;
}

.u-section-2 .u-icon-7 {
  width: 24px;
  height: 24px;
  margin: -24px auto 0 457px;
  padding: 0;
}

.u-section-2 .u-icon-8 {
  width: 24px;
  height: 24px;
  margin: -24px auto 0 481px;
  padding: 0;
}

.u-section-2 .u-icon-9 {
  width: 24px;
  height: 24px;
  margin: -24px auto 0 505px;
  padding: 0;
}

.u-section-2 .u-icon-10 {
  width: 24px;
  height: 24px;
  margin: -24px auto 0 529px;
  padding: 0;
}

.u-section-2 .u-shape-3 {
  width: 323px;
  --radius: 15px;
  height: 241px;
  background-image: none;
  margin: -31px 18px 0 auto;
}

.u-section-2 .u-icon-11 {
  width: 24px;
  height: 24px;
  margin: -234px auto 0 818px;
  padding: 0;
}

.u-section-2 .u-icon-12 {
  width: 24px;
  height: 24px;
  margin: -24px auto 0 842px;
  padding: 0;
}

.u-section-2 .u-icon-13 {
  width: 24px;
  height: 24px;
  margin: -24px auto 0 866px;
  padding: 0;
}

.u-section-2 .u-icon-14 {
  width: 24px;
  height: 24px;
  margin: -24px auto 0 890px;
  padding: 0;
}

.u-section-2 .u-icon-15 {
  width: 24px;
  height: 24px;
  margin: -24px auto 0 914px;
  padding: 0;
}

.u-section-2 .u-text-6 {
  font-size: 0.875rem;
  margin: 14px 71px 0 806px;
}

.u-section-2 .u-text-7 {
  font-size: 0.875rem;
  margin: -126px 130px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-shape-1 {
    margin-top: 68px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 685px;
    margin-left: 0;
  }

  .u-section-2 .u-shape-2 {
    margin-top: 20px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 416px;
  }

  .u-section-2 .u-icon-6 {
    margin-left: 357px;
  }

  .u-section-2 .u-icon-7 {
    margin-left: 377px;
  }

  .u-section-2 .u-icon-8 {
    margin-left: 397px;
  }

  .u-section-2 .u-icon-9 {
    margin-left: 416px;
  }

  .u-section-2 .u-icon-10 {
    margin-left: 436px;
  }

  .u-section-2 .u-shape-3 {
    margin-top: 20px;
  }

  .u-section-2 .u-icon-11 {
    margin-left: 674px;
  }

  .u-section-2 .u-icon-12 {
    margin-left: 694px;
  }

  .u-section-2 .u-icon-13 {
    margin-left: 714px;
  }

  .u-section-2 .u-icon-14 {
    margin-left: 734px;
  }

  .u-section-2 .u-icon-15 {
    margin-left: 753px;
  }

  .u-section-2 .u-text-6 {
    margin-top: 46px;
    margin-right: -128px;
    margin-left: 677px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-2 {
    margin-right: 465px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 319px;
  }

  .u-section-2 .u-icon-6 {
    margin-left: 273px;
  }

  .u-section-2 .u-icon-7 {
    margin-left: 289px;
  }

  .u-section-2 .u-icon-8 {
    margin-left: 304px;
  }

  .u-section-2 .u-icon-9 {
    margin-left: 319px;
  }

  .u-section-2 .u-icon-10 {
    margin-left: 334px;
  }

  .u-section-2 .u-icon-11 {
    margin-left: 516px;
  }

  .u-section-2 .u-icon-12 {
    margin-left: 532px;
  }

  .u-section-2 .u-icon-13 {
    margin-left: 547px;
  }

  .u-section-2 .u-icon-14 {
    margin-left: 562px;
  }

  .u-section-2 .u-icon-15 {
    margin-left: 577px;
  }

  .u-section-2 .u-text-6 {
    margin-left: 457px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-2 {
    margin-right: 285px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 158px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 239px;
  }

  .u-section-2 .u-icon-6 {
    margin-left: 205px;
  }

  .u-section-2 .u-icon-7 {
    margin-left: 217px;
  }

  .u-section-2 .u-icon-8 {
    margin-left: 228px;
  }

  .u-section-2 .u-icon-9 {
    margin-left: 239px;
  }

  .u-section-2 .u-icon-10 {
    margin-left: 251px;
  }

  .u-section-2 .u-icon-11 {
    margin-left: 387px;
  }

  .u-section-2 .u-icon-12 {
    margin-left: 399px;
  }

  .u-section-2 .u-icon-13 {
    margin-left: 410px;
  }

  .u-section-2 .u-icon-14 {
    margin-left: 422px;
  }

  .u-section-2 .u-icon-15 {
    margin-left: 433px;
  }

  .u-section-2 .u-text-6 {
    margin-left: 277px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 761px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
    width: auto;
    margin-top: -144px;
    margin-right: 101px;
    margin-left: -18px;
  }

  .u-section-2 .u-shape-1 {
    margin-top: 43px;
    margin-left: 9px;
  }

  .u-section-2 .u-icon-1 {
    margin-top: -226px;
    margin-right: 199px;
    margin-left: auto;
  }

  .u-section-2 .u-icon-2 {
    margin-right: 273px;
    margin-left: auto;
  }

  .u-section-2 .u-icon-3 {
    margin-right: 223px;
    margin-left: auto;
  }

  .u-section-2 .u-icon-4 {
    margin-right: 249px;
    margin-left: auto;
  }

  .u-section-2 .u-icon-5 {
    margin-right: 297px;
    margin-left: auto;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 27px;
    margin-right: 64px;
    margin-left: 22px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: -138px;
    margin-right: 109px;
    margin-left: auto;
  }

  .u-section-2 .u-shape-2 {
    margin-top: 524px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-top: -196px;
    margin-left: 19px;
    margin-right: 19px;
  }

  .u-section-2 .u-text-5 {
    width: auto;
    margin-top: -211px;
    margin-right: auto;
    margin-left: 158px;
  }

  .u-section-2 .u-icon-6 {
    margin-top: -24px;
    margin-left: 114px;
  }

  .u-section-2 .u-icon-7 {
    margin-left: 91px;
  }

  .u-section-2 .u-icon-8 {
    margin-left: 67px;
  }

  .u-section-2 .u-icon-9 {
    margin-left: 43px;
  }

  .u-section-2 .u-icon-10 {
    margin-left: 22px;
  }

  .u-section-2 .u-shape-3 {
    margin-top: -320px;
    margin-right: auto;
  }

  .u-section-2 .u-icon-11 {
    margin-top: -226px;
    margin-left: 117px;
  }

  .u-section-2 .u-icon-12 {
    margin-left: 93px;
  }

  .u-section-2 .u-icon-13 {
    margin-left: 69px;
  }

  .u-section-2 .u-icon-14 {
    margin-left: 45px;
  }

  .u-section-2 .u-icon-15 {
    margin-left: 22px;
  }

  .u-section-2 .u-text-6 {
    width: auto;
    margin-top: 24px;
    margin-left: 22px;
    margin-right: 22px;
  }

  .u-section-2 .u-text-7 {
    width: auto;
    margin-top: -114px;
    margin-right: auto;
    margin-left: 167px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 610px;
}

.u-section-3 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 59px auto 0 87px;
}

.u-section-3 .u-accordion-1 {
  width: 933px;
  margin: 64px auto 60px 98px;
}

.u-section-3 .u-accordion-link-1 {
  background-image: none;
  font-weight: 700;
  padding: 10px 30px;
}

.u-section-3 .u-icon-1 {
  height: 20px;
  width: 20px;
}

.u-section-3 .u-accordion-pane-1 {
  min-height: 150px;
}

.u-section-3 .u-container-layout-1 {
  padding: 20px 30px;
}

.u-section-3 .u-text-2 {
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-3 .u-accordion-link-2 {
  background-image: none;
  font-weight: 700;
  padding: 10px 30px;
}

.u-section-3 .u-icon-2 {
  height: 20px;
  width: 20px;
}

.u-section-3 .u-accordion-pane-2 {
  min-height: 150px;
}

.u-section-3 .u-container-layout-2 {
  padding: 20px 30px;
}

.u-section-3 .u-text-3 {
  line-height: 1.8;
  margin: 0;
}

.u-section-3 .u-accordion-link-3 {
  background-image: none;
  font-weight: 700;
  padding: 10px 30px;
}

.u-section-3 .u-icon-3 {
  height: 20px;
  width: 20px;
}

.u-section-3 .u-accordion-pane-3 {
  min-height: 150px;
}

.u-section-3 .u-container-layout-3 {
  padding: 20px 30px;
}

.u-section-3 .u-text-4 {
  line-height: 1.8;
  margin: 0;
}

.u-section-3 .u-accordion-link-4 {
  background-image: none;
  font-weight: 700;
  padding: 10px 30px;
}

.u-section-3 .u-icon-4 {
  height: 20px;
  width: 20px;
}

.u-section-3 .u-accordion-pane-4 {
  min-height: 157px;
}

.u-section-3 .u-container-layout-4 {
  padding: 20px 30px;
}

.u-section-3 .u-text-5 {
  line-height: 1.8;
  margin: 0;
}

.u-section-3 .u-accordion-link-5 {
  background-image: none;
  font-weight: 700;
  padding: 10px 30px;
}

.u-section-3 .u-icon-5 {
  height: 20px;
  width: 20px;
}

.u-section-3 .u-accordion-pane-5 {
  min-height: 150px;
}

.u-section-3 .u-container-layout-5 {
  padding: 30px;
}

.u-section-3 .u-text-6 {
  line-height: 1.8;
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-accordion-1 {
    margin-left: 7px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-accordion-1 {
    width: 720px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-accordion-1 {
    width: 540px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 699px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
    width: auto;
    margin-top: 32px;
    margin-left: -11px;
  }

  .u-section-3 .u-accordion-1 {
    margin-top: 47px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 572px;
}

.u-section-4 .u-map-1 {
  width: 503px;
  height: 409px;
  margin: 44px 32px 0 auto;
}

.u-section-4 .u-shape-1 {
  width: 497px;
  --radius: 37px;
  height: 409px;
  background-image: none;
  margin: -409px auto 0 73px;
}

.u-section-4 .u-text-1 {
  font-size: 2.25rem;
  margin: -386px 767px 0 119px;
}

.u-section-4 .u-text-2 {
  font-size: 1.25rem;
  margin: -10px 602px 0 119px;
}

.u-section-4 .u-btn-1 {
  --radius: 32px;
  background-image: none;
  margin: 25px auto 60px 119px;
  padding: 8px 9px 10px 8px;
}

.u-section-4 .u-icon-1 {
  margin-right: 5px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-shape-1 {
    margin-top: 20px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 667px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 502px;
    margin-left: 19px;
  }

  .u-section-4 .u-btn-1 {
    margin-left: 19px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 882px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 466px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 301px;
    margin-left: 0;
  }

  .u-section-4 .u-btn-1 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 895px;
  }

  .u-section-4 .u-shape-1 {
    margin-left: 43px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 286px;
  }

  .u-section-4 .u-text-2 {
    font-size: 1.1111111111111112rem;
    margin-right: 121px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 898px;
  }

  .u-section-4 .u-map-1 {
    margin-top: 441px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-shape-1 {
    margin-top: -890px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: -393px;
    margin-right: 125px;
    margin-left: 36px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-top: -20px;
    margin-right: -17px;
    margin-left: 17px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 17px;
    margin-left: 17px;
  }
}