.u-section-1 .u-sheet-1 {
  min-height: 1356px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 50px auto 0 41px;
}

.u-section-1 .u-group-1 {
  width: 265px;
  --radius: 15px;
  height: auto;
  background-image: none;
  min-height: 208px;
  margin: 83px auto 0 -26px;
}

.u-section-1 .u-container-layout-1 {
  padding: 11px 30px;
}

.u-section-1 .u-image-1 {
  width: 185px;
  height: 187px;
  --radius: 20px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 0 auto;
}

.u-section-1 .u-group-2 {
  width: 265px;
  --radius: 15px;
  height: auto;
  background-image: none;
  min-height: 211px;
  margin: -208px auto 0 289px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 14px;
}

.u-section-1 .u-image-2 {
  width: 185px;
  height: 187px;
  --radius: 20px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 11px auto 0;
}

.u-section-1 .u-group-3 {
  width: 265px;
  --radius: 15px;
  height: auto;
  background-image: none;
  min-height: 208px;
  margin: -208px 270px 0 auto;
}

.u-section-1 .u-container-layout-3 {
  padding: 11px 30px;
}

.u-section-1 .u-image-3 {
  width: 185px;
  height: 187px;
  --radius: 20px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 0 auto;
}

.u-section-1 .u-group-4 {
  width: 265px;
  --radius: 15px;
  height: auto;
  background-image: none;
  min-height: 208px;
  margin: -208px -45px 0 auto;
}

.u-section-1 .u-container-layout-4 {
  padding: 11px 30px;
}

.u-section-1 .u-image-4 {
  width: 185px;
  height: 187px;
  --radius: 20px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 0 auto;
}

.u-section-1 .u-text-2 {
  line-height: 1.1;
  margin: 14px 239px 0 607px;
}

.u-section-1 .u-text-3 {
  line-height: 1.1;
  margin: -97px -81px 0 927px;
}

.u-section-1 .u-text-4 {
  line-height: 1.1;
  margin: -59px 872px 0 -26px;
}

.u-section-1 .u-text-5 {
  line-height: 1.1;
  margin: -79px 557px 0 289px;
}

.u-section-1 .u-group-5 {
  width: 265px;
  --radius: 15px;
  height: auto;
  background-image: none;
  min-height: 208px;
  margin: 70px auto 0 289px;
}

.u-section-1 .u-container-layout-5 {
  padding: 11px 30px;
}

.u-section-1 .u-image-5 {
  width: 185px;
  height: 187px;
  --radius: 20px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 0 auto;
}

.u-section-1 .u-group-6 {
  width: 265px;
  --radius: 15px;
  height: auto;
  background-image: none;
  min-height: 208px;
  margin: -208px auto 0 -26px;
}

.u-section-1 .u-container-layout-6 {
  padding: 11px 30px;
}

.u-section-1 .u-image-6 {
  width: 185px;
  height: 187px;
  --radius: 20px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 0 auto;
}

.u-section-1 .u-group-7 {
  width: 265px;
  --radius: 15px;
  height: auto;
  background-image: none;
  min-height: 208px;
  margin: -208px 270px 0 auto;
}

.u-section-1 .u-container-layout-7 {
  padding: 11px 30px;
}

.u-section-1 .u-image-7 {
  width: 185px;
  height: 187px;
  --radius: 20px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 0 auto;
}

.u-section-1 .u-group-8 {
  width: 265px;
  --radius: 15px;
  height: auto;
  background-image: none;
  min-height: 208px;
  margin: -208px -45px 0 auto;
}

.u-section-1 .u-container-layout-8 {
  padding: 11px 30px;
}

.u-section-1 .u-image-8 {
  width: 185px;
  height: 187px;
  --radius: 20px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 0 auto;
}

.u-section-1 .u-text-6 {
  line-height: 1.1;
  margin: 19px -79px 0 925px;
}

.u-section-1 .u-text-7 {
  line-height: 1.1;
  margin: -79px 239px 0 607px;
}

.u-section-1 .u-text-8 {
  line-height: 1.1;
  margin: -59px 557px 0 289px;
}

.u-section-1 .u-text-9 {
  line-height: 1.1;
  margin: -99px 872px 0 -26px;
}

.u-section-1 .u-group-9 {
  width: 265px;
  --radius: 15px;
  height: auto;
  background-image: none;
  min-height: 208px;
  margin: 69px -45px 0 auto;
}

.u-section-1 .u-container-layout-9 {
  padding: 11px 30px;
}

.u-section-1 .u-image-9 {
  width: 185px;
  height: 187px;
  --radius: 20px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 0 auto;
}

.u-section-1 .u-group-10 {
  width: 265px;
  --radius: 15px;
  height: auto;
  background-image: none;
  min-height: 208px;
  margin: -208px 270px 0 auto;
}

.u-section-1 .u-container-layout-10 {
  padding: 11px 30px;
}

.u-section-1 .u-image-10 {
  width: 185px;
  height: 187px;
  --radius: 20px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 0 auto;
}

.u-section-1 .u-group-11 {
  width: 265px;
  --radius: 15px;
  height: auto;
  background-image: none;
  min-height: 208px;
  margin: -207px auto 0 -26px;
}

.u-section-1 .u-container-layout-11 {
  padding: 11px 30px;
}

.u-section-1 .u-image-11 {
  width: 185px;
  height: 187px;
  --radius: 20px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 0 auto;
}

.u-section-1 .u-group-12 {
  width: 265px;
  --radius: 15px;
  height: auto;
  background-image: none;
  min-height: 208px;
  margin: -208px auto 0 289px;
}

.u-section-1 .u-container-layout-12 {
  padding: 11px 30px;
}

.u-section-1 .u-image-12 {
  width: 185px;
  height: 187px;
  --radius: 20px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 0 auto;
}

.u-section-1 .u-text-10 {
  line-height: 1.1;
  margin: 19px 554px 0 292px;
}

.u-section-1 .u-text-11 {
  line-height: 1.1;
  margin: -79px 234px 0 612px;
}

.u-section-1 .u-text-12 {
  line-height: 1.1;
  margin: -79px -81px 0 927px;
}

.u-section-1 .u-text-13 {
  line-height: 1.1;
  margin: -79px 899px 60px -26px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-group-2 {
    height: auto;
  }

  .u-section-1 .u-group-3 {
    margin-top: 20px;
    height: auto;
  }

  .u-section-1 .u-group-4 {
    height: auto;
  }

  .u-section-1 .u-text-2 {
    margin-right: 139px;
    margin-left: 507px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 20px;
    margin-left: 727px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 672px;
  }

  .u-section-1 .u-text-5 {
    margin-top: 20px;
    margin-right: 457px;
    margin-left: 189px;
  }

  .u-section-1 .u-group-5 {
    margin-left: 189px;
    height: auto;
  }

  .u-section-1 .u-group-6 {
    margin-top: 20px;
    height: auto;
  }

  .u-section-1 .u-group-7 {
    height: auto;
  }

  .u-section-1 .u-group-8 {
    height: auto;
  }

  .u-section-1 .u-text-6 {
    margin-left: 725px;
  }

  .u-section-1 .u-text-7 {
    margin-top: 20px;
    margin-right: 139px;
    margin-left: 507px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 457px;
    margin-left: 189px;
  }

  .u-section-1 .u-text-9 {
    margin-top: 20px;
    margin-right: 672px;
  }

  .u-section-1 .u-group-9 {
    height: auto;
  }

  .u-section-1 .u-group-10 {
    height: auto;
  }

  .u-section-1 .u-group-11 {
    height: auto;
  }

  .u-section-1 .u-group-12 {
    height: auto;
  }

  .u-section-1 .u-text-10 {
    margin-right: 454px;
    margin-left: 192px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 134px;
    margin-left: 512px;
  }

  .u-section-1 .u-text-12 {
    margin-top: 20px;
    margin-left: 727px;
  }

  .u-section-1 .u-text-13 {
    margin-right: 699px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-2 {
    margin-right: 29px;
    margin-left: 397px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 507px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 452px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 347px;
    margin-left: 79px;
  }

  .u-section-1 .u-group-5 {
    margin-left: 79px;
  }

  .u-section-1 .u-group-7 {
    margin-top: 20px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 505px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 29px;
    margin-left: 397px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 347px;
    margin-left: 79px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 452px;
  }

  .u-section-1 .u-group-11 {
    margin-top: 20px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 344px;
    margin-left: 82px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 24px;
    margin-left: 402px;
  }

  .u-section-1 .u-text-12 {
    margin-left: 507px;
  }

  .u-section-1 .u-text-13 {
    margin-right: 479px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-group-2 {
    margin-left: 275px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: 246px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 327px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 272px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 246px;
    margin-left: 0;
  }

  .u-section-1 .u-group-5 {
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 325px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 0;
    margin-left: 246px;
  }

  .u-section-1 .u-text-8 {
    margin-top: 20px;
    margin-right: 246px;
    margin-left: 0;
  }

  .u-section-1 .u-text-9 {
    margin-right: 272px;
  }

  .u-section-1 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-group-12 {
    margin-left: 275px;
  }

  .u-section-1 .u-container-layout-12 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 246px;
    margin-left: 0;
  }

  .u-section-1 .u-text-11 {
    margin-top: 20px;
    margin-right: 0;
    margin-left: 246px;
  }

  .u-section-1 .u-text-12 {
    margin-left: 327px;
  }

  .u-section-1 .u-text-13 {
    margin-right: 299px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 4181px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    width: auto;
    margin-top: 40px;
    margin-left: -15px;
  }

  .u-section-1 .u-group-1 {
    min-height: 200px;
    margin-top: 30px;
    margin-left: 23px;
  }

  .u-section-1 .u-group-2 {
    margin-top: 101px;
    margin-left: 23px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 0;
  }

  .u-section-1 .u-group-3 {
    margin-top: 139px;
    margin-right: auto;
    margin-left: 23px;
  }

  .u-section-1 .u-group-4 {
    margin-top: 154px;
    margin-right: auto;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: -336px;
    margin-left: 23px;
    margin-right: 23px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 271px;
    margin-left: 23px;
    margin-right: 23px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: -1091px;
    margin-left: 23px;
    margin-right: 23px;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-top: 256px;
    margin-left: 23px;
    margin-right: 23px;
  }

  .u-section-1 .u-group-5 {
    margin-top: 3078px;
    margin-left: auto;
  }

  .u-section-1 .u-group-6 {
    margin-top: -2554px;
    margin-left: auto;
  }

  .u-section-1 .u-group-7 {
    margin-top: 127px;
    margin-right: auto;
  }

  .u-section-1 .u-group-8 {
    margin-top: 120px;
    margin-right: auto;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-top: 30px;
    margin-left: 23px;
    margin-right: 23px;
  }

  .u-section-1 .u-text-7 {
    width: auto;
    margin-top: -399px;
    margin-left: 23px;
    margin-right: 23px;
  }

  .u-section-1 .u-text-8 {
    width: auto;
    margin-top: 1960px;
    margin-left: 23px;
    margin-right: 23px;
  }

  .u-section-1 .u-text-9 {
    width: auto;
    margin-top: -2439px;
    margin-left: 23px;
    margin-right: 23px;
  }

  .u-section-1 .u-group-9 {
    margin-top: 694px;
    margin-right: auto;
  }

  .u-section-1 .u-group-10 {
    margin-top: 120px;
    margin-right: auto;
  }

  .u-section-1 .u-group-11 {
    margin-top: 124px;
    margin-left: auto;
  }

  .u-section-1 .u-group-12 {
    margin-top: 154px;
    margin-left: auto;
  }

  .u-section-1 .u-text-10 {
    width: auto;
    margin-top: 30px;
    margin-left: 23px;
    margin-right: 23px;
  }

  .u-section-1 .u-text-11 {
    width: auto;
    margin-top: -750px;
    margin-left: 23px;
    margin-right: 23px;
  }

  .u-section-1 .u-text-12 {
    width: auto;
    margin-top: -407px;
    margin-left: 23px;
    margin-right: 23px;
  }

  .u-section-1 .u-text-13 {
    width: auto;
    margin-top: 604px;
    margin-right: 50px;
    margin-left: 23px;
  }
}